/* the styles for the elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    background-color: black;
}

body {
    font-family: calibri, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid white;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 10px 10px 20px white;
}

a:focus,
a:hover {
    font-style: italic;
}


/* the styles for the header */

header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid white;
    background-image: linear-gradient( to bottom, lightgray 0%, lightgray 30%, white 50%, lightgray 80%, lightgray 100%);
    border-radius: 10px 10px 0 0;
}

header h1 {
    font-size: 175%;
    margin: .5em 0;
}

header h2 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 3.75%;
    max-width: 175px;
    width: 100%;
}

#nav_menu ul {
    list-style: none;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#nav_menu ul li {
    float: left;
    width: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: gray;
    color: white;
}

#nav_menu ul li.lastitem a {}

#nav_menu ul li a.current {
    color: yellow;
}

#nav_menu ul li a:hover,
#nav_menu ul li a:focus {
    background-color: black;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}


/* the styles for the main content */

main {
    clear: left;
}


/* the styles for the section */

section {
    width: 80%;
    margin: 0 auto;
}

section h1 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0;
}

section h2 {
    color: black;
    text-align: center;
    font-variant: small-caps;
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 .25em 1.25em;
    list-style-type: circle;
}

section li {
    padding-bottom: .35em;
}

form {
    padding: 1em;
}

form h3 {
    margin: .75em 0;
}

form fieldset {
    padding: 1em;
    border-radius: 15px;
}

form fieldset legend {
    padding: .25em;
}

form label {
    float: left;
    width: 30%;
    text-align: right;
    margin-left: 2em;
    margin-right: .5em;
}

form input {
    display: block;
    margin-bottom: .5em;
}

form input[type=submit] {
    padding: .5em 1em;
    background-color: gray;
    color: white;
    float: right;
    margin-bottom: 1em;
}

#thankspage h4 {
    font-size: large;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    margin: 10px;
    text-align: center;
}


/* the styles for the footer */

footer {
    clear: both;
    background-image: linear-gradient( to bottom, lightgray 0%, lightgray 30%, white 50%, lightgray 80%, lightgray 100%);
    border-top: 3px solid white;
    border-radius: 0 0 10px 10px;
}

footer p {
    text-align: center;
    padding: 1em 0;
    font-size: 85%;
    font-variant: small-caps;
}


/* mobile landscape to tablet portrait */

@media only screen and (max-width: 767px) {
    body {
        border: none;
        border-radius: 0%;
        box-shadow: none;
    }
    header,
    footer {
        border-radius: 0%;
    }
    header img {
        float: none;
        max-width: 100px;
        min-width: 35px;
    }
    header {
        text-align: center;
    }
    section {
        width: 100%;
        margin: 0 auto;
    }
    form {
        width: 75%;
        margin: 0 auto;
    }
    form label {
        display: inline;
        float: none;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
    form input {
        margin-bottom: 1em;
    }
    form fieldset {
        padding: 0;
        border: none;
        border-radius: 0;
    }
    form input[type=submit] {
        float: left;
    }
    form fieldset legend {
        padding: 0;
        display: none;
    }
}